$primary: #112FA9;
$secondary: #6A76A4;
$dark: #1E203F;
$light: #BBB4BC;
$white: #f2f1f3;
$success: #639940;
$warning: #e08808;
$danger: #f44336;
//transparents
$white-transparent: rgb(242, 241, 243, .5);
$dark-transparent: rgb(30, 32, 63, .5);